*.gitattributes
*.vcxproj*
.metadata/*
.cproject
.project
Frota_Aula2/.settings
Frota_Aula2/boost
Frota_Aula2/cute
Frota_Aula2/Debug
Parque_Aula1/.settings
Parque_Aula1/boost
Parque_Aula1/cute
Parque_Aula1/Debug
Aula3_Zoo/.settings
Aula3_Zoo/boost
Aula3_Zoo/cute
Aula3_Zoo/Debug
/.metadata/
Aula4_Grafo/.settings
Aula4_Grafo/boost
Aula4_Grafo/cute
Aula4_Grafo/Debug
Aula5_Sort/.settings
Aula5_Sort/boost
Aula5_Sort/cute
Aula5_Sort/Debug
Aula6_Jogo/.settings
Aula6_Jogo/boost
Aula6_Jogo/cute
Aula6_Jogo/Debug
